

StatusCode        : 200
StatusDescription : OK
Content           : # Byte-compiled / optimized / DLL files
                    __pycache__/
                    *.py[codz]
                    *$py.class
                    
                    # C extensions
                    *.so
                    
                    # Distribution / packaging
                    .Python
                    build/
                    develop-eggs/
                    dist/
                    downloads/
                    eggs/
                    .eggs/
                    lib/
                    lib64/
                    parts...
RawContent        : HTTP/1.1 200 OK
                    Connection: keep-alive
                    Content-Security-Policy: default-src 'none'; style-src 
                    'unsafe-inline'; sandbox
                    Strict-Transport-Security: max-age=31536000
                    X-Content-Type-Options: nosniff
                    ...
Forms             : 
Headers           : {[Connection, keep-alive], [Content-Security-Policy, 
                    default-src 'none'; style-src 'unsafe-inline'; 
                    sandbox], [Strict-Transport-Security, 
                    max-age=31536000], [X-Content-Type-Options, 
                    nosniff]...}
Images            : {}
InputFields       : {}
Links             : {}
ParsedHtml        : 
RawContentLength  : 4536

# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Editors/IDE
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# (Optional) Data you don't want in Git
data/


